{
    "extends": "airbnb-base",
    "env": {
        "browser": true,
        "node": true
    },
    "parserOptions": {
        "ecmaVersion": 8
    },
    "rules": {
        "indent": ["error", 4],
        "padded-blocks": ["error", { "classes": "always" }],
        "comma-dangle": ["error", "only-multiline"],
        "no-console": 0
    }
}